<tr>
  <td><%= notification.content %></td>
  <td><%= notification.link %></td>
  <td><%= link_to notification.user.name, admin_profile_path(notification.user) %></td>
  <td><%= l notification.created_at, format: :default %></td>
  <td><%= notification.result %></td>
  <td align="right">
    <%= link_to admin_notification_path(notification), method: :delete,
      data:{confirm: t("custom.confirm_delete")} do %>
      <i class="fa fa-trash-o"></i>
      <%= t("notification.actions.delete") %>
    <% end %>
  </td>
</tr>
