<div class="row advertising">
  <div class="col-md-9 col-md-offset-1">
    <h2>ទំនាក់ទំនងផ្សាយពាណិជ្ជកម្ម</h2>
    <hr>
    <h3>អំពី Angkorvoice.com</h3>
    <p>
      <strong>Angkorvoice.com</strong>  គឺជាគេហទំព័របណ្ណាល័យជាសំលេង ដំបូងគេបំផុត នៅក្នុងប្រទេសកម្ពុជា ដែលផ្តោតទៅលើការផ្តល់ចំណេះដឹងសំខាន់ៗដូចជា សហគ្រិនភាព ចំណេះដឹងទូទៅ សម្រស់ សុខភាព ជីវិតនិងស្នេហា។ គ្រប់អត្ថបទរបស់គេហទំព័រនេះគឺ មានភ្ជាប់ទាំងសម្លេង អត្ថបទសរសេរ និងមានរូបភាពច្បាស់ល្អ​ ដែលធ្វើឲ្យកាន់តែទាក់ទាញ ពីសំណាក់អ្នកចូលទស្សនា។
    </p>
    <p>
      ចំនួនអ្នកចូលទស្សនា មានការកើនឡើងជាលំដាប់ ពីមួយថ្ងៃទៅមួយថ្ងៃ ។ បច្ចុប្បន្ន ចំនួនអ្នកចូលទស្សនាជាមធ្យម ពី ៥០០០ ទៅ ២០០០០ នាក់ ក្នុងមួយថ្ងៃ ។
    </p>

    <hr>
    <h3>ប្លង់ និង តម្លៃផ្សាយពាណិជ្ជកម្ម</h3>
    <p>
      គេហទំព័រយើងខ្ញុំ នឹងមានការបញ្ចុះតំលៃពិសេស​​ ចំពោះការផ្សាយពាណិជ្ជកម្មលើគេហទំព័រ <strong>Angkorvoice.com</strong> ចំនួន ៥០% នៃខែទី១ សំរាប់កុងត្រាផ្សាយរយៈពេល ៣ខែ និង ទទួលរចនាផ្ទាំងផ្សាយពាណិជ្ជកម្មដោយឥតគិតថ្លៃ។
    </p>
    <p>
      បើលោកអ្នកមានចំណាប់អារម្មណ៍ ចំពោះការផ្សាយពាណិជ្ជកម្ម​ លើគេហទំព័រយើងខ្ញុំ លោកអ្នកអាចមើលគំរូប្លង់ និងតារាងតម្លៃ ដូចខាងក្រោមនេះ៖
    </p>
    <ol>
      <li>
        <p class="ads-title">Text Ads</p>
        <p><%= image_tag "ads/text_ads.jpg", class: "img-responsive img-thumbnail",
          width: "600px" %></p>
        <p class="ads-price">Price: $7/month</p>
      </li>
      <li>
        <p class="ads-title">Home page</p>
        <p><%= image_tag "ads/homepage.jpg", class: "img-responsive img-thumbnail",
          width: "600px" %></p>
        <p class="ads-price">Banner 428 x 100: $40/month</p>
        <p class="ads-price">Banner 637 x 100: $70/month</p>
        <p class="ads-price">Banner 1130 x 100: $120/month</p>
      </li>
      <li>
        <p class="ads-title">Category/Article page</p>
        <p><%= image_tag "ads/article.jpg", class: "img-responsive img-thumbnail",
          width: "600px" %></p>
        <p class="ads-price">Banner 260 x 260: $55/month</p>
        <p class="ads-price">Banner 733 x 100: $95/month</p>
      </li>
      <li>
        <p class="ads-title">Popup Banner (800 x 600 pixel)</p>
        <p><%= image_tag "ads/popup.jpg", class: "img-responsive img-thumbnail",
          width: "600px" %></p>
        <p class="ads-price">Price: $195/month</p>
      </li>
      <li>
        <p class="ads-title">Fix Footer Banner (1130 x 100 pixel)</p>
        <p><%= image_tag "ads/fix_footer.jpg", class: "img-responsive img-thumbnail",
          width: "600px" %></p>
        <p class="ads-price">Price: $250/month</p>
      </li>
    </ol>
    <h3>ទំនាក់ទំនងយើងខ្ញុំ</h3>
    <p>លោកអ្នកអាចទំនាក់ទំនងមកយើងខ្ញុំ​ តាមរយៈ ៖</p>
    <ul>
      <li><strong>E-mail:</strong> &nbsp;&nbsp;&nbsp; angkorvoice168@gmail.com</li>
      <li><strong>លេខទូរស័ព្ទ៖</strong> &nbsp;&nbsp;&nbsp; (855) 92 52 53 47 / (855) 93 300 310 / (855) 23 966 361</li>
      <li><strong>ឤស័យដ្ឋាន៖</strong>&nbsp;&nbsp;&nbsp; No.20, St 336, Sangkat Veal Vong, Khan 7 Makara, Phnom Penh</li>
    </ul>
    <h3>
      <%= link_to "https://db.tt/MFKvXJHp",
        target: "_blank" do %>
        <span class="glyphicon glyphicon-download"></span>
        Download Advertising Plan in PDF Here
      <% end %>
      </h3>
  </div>
</div>
