<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t "article.admin.panel_title" %></h3>
  </div>
  <div class="panel-body">
    <% if @article.new_record? %>
      <%= f.submit t("article.admin.actions.save_draft"), class: "btn btn-default" %>
      <%= render "schedule_form", f: f %>
    <% elsif Settings.post_status.published == @article_state.post_status %>
      <%= f.submit t("article.admin.actions.update"), class: "btn btn-default" %>
      <%= f.submit t("article.admin.actions.preview"), class: "btn btn-primary" %>
      <%= f.submit t("article.admin.actions.unpublish"), class: "btn btn-success" %>
    <% elsif Settings.post_status.pending == @article_state.post_status  %>
      <%= f.submit t("article.admin.actions.update"), class: "btn btn-default" %>
      <%= f.submit t("article.admin.actions.save_draft"), class: "btn btn-default" %>
      <%= render "schedule_form", f: f %>
    <% else %>
      <%= f.submit t("article.admin.actions.update"), class: "btn btn-default" %>
      <%= render "schedule_form", f: f %>
    <% end %>
  </div>
</div>
