<div class="row">
  <div class="col-md-12">
    <%= form_for [:admin, @user], url: admin_profile_path, remote: true,
      html: {multipart: true} do |f| %>
      <%= render "shared/errors_messages", object: @user %>
      <p><%= f.label :name %></p>
      <p><%= f.text_field :name, class: "form-control" %></p>
      <p><%= f.label :email %></p>
      <p><%= f.text_field :email, class: "form-control" %></p>
      <p><%= f.label :current_password %></p>
      <p><%= f.password_field :current_password, class: "form-control" %></p>
      <p><%= f.label :avatar %></p>
      <p>
        <%= image_tag @user.avatar_url, class: "img-circle avatar" %>
        <%= f.file_field :avatar, class: "form-control" %>
        <%= f.hidden_field :avatar_cache %>
      </p>
      <hr>
      <%= f.submit t("user.admin.buttons.save"), class: "btn btn-primary pull-right" %>
      <button type="button" class="btn btn-default pull-right btn-close" data-dismiss="modal">
        <%= t "admin.buttons.close" %>
      </button>
    <% end %>
  </div>
</div>
