<!DOCTYPE html>
<html>
<head>
  <title><%= full_title yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "logo.png" %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Hanuman' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="wrapper">
    <%= render "layouts/admin/navigation_menu" %>
    <div id="page-wrapper">
        <div class="container-fluid">
          <%= render "shared/flash" %>
          <%= yield %>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
  </div>
  <!-- /#wrapper -->
</body>
</html>
