<div class="row">
  <div class="col-md-12">
    <%= form_for [:admin, @category], remote: true do |f| %>
      <%= render "shared/errors_messages", object: @category %>
      <p><%= f.label :name %></p>
      <p><%= f.text_field :name, class: "form-control" %></p>
      <hr>
      <%= f.submit t("category.admin.buttons.save"), class: "btn btn-primary pull-right" %>
      <button type="button" class="btn btn-default pull-right btn-close" data-dismiss="modal">
        <%= t "admin.buttons.close" %>
      </button>
    <% end %>
  </div>
</div>
