<div class="row">
  <div class="col-md-12">
    <%= form_for [:admin, @user], remote: true do |f| %>
      <%= render "shared/errors_messages", object: @user %>
      <% if Settings.actions.new_action == action %>
        <p><%= f.label :name %></p>
        <p><%= f.text_field :name, class: "form-control" %></p>
        <p><%= f.label :email %></p>
        <p><%= f.text_field :email, class: "form-control" %></p>
        <p><%= f.label :password %></p>
        <p><%= f.password_field :password, class: "form-control" %></p>
        <p><%= f.label :password_confirmation %></p>
        <p><%= f.password_field :password_confirmation, class: "form-control" %></p>
      <% end %>
      <p><%= f.label :role %></p>
      <p><%= f.collection_select :admin, Settings.admin, :first, :last, {},
        class: "form-control" %></p>
      <hr>
      <%= f.submit t("user.admin.buttons.save"), class: "btn btn-primary pull-right" %>
      <button type="button" class="btn btn-default pull-right btn-close" data-dismiss="modal">
        <%= t "admin.buttons.close" %>
      </button>
    <% end %>
  </div>
</div>
